@{
    ViewData["Title"] = "Home Page";
}

<h2>Bienvenido, @ViewBag.Nombre</h2>

<p>Rol: <strong>@ViewBag.Rol</strong></p>

<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">
    Cerrar sesión
</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


